@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}
body{
    margin: 0;
}


.main-header{
    background-color: rgba(0, 0, 0, .20);
    background-image: url("Images/homepage_achtergrondfoto.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 5px;
    width: 100%;
    height: 100px;
}


.header-home{
    background-color: rgba(0, 0, 0, .20);
    background-image: url("Images/homepage_achtergrondfoto.jpg"); 
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 5px;
    width: 100%;
    height: 100vh;
    

    
    
    color: #FFFFFF;
    
}

.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.9vw;
    color: white;
    text-decoration: none;
}


.nav a:hover {
    text-decoration: underline;    
}

.nav {
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold ;
    

}


.titel{
    text-align: center;
    font-size: 5.7vw;
    
}


.intro{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 170px;
    padding-bottom: 170px;
    font-size: 1.3em;
}



.arrow{ 
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 50px;
    height: 50px;
    border-bottom: 7px solid #ffffff;
    border-right: 7px solid #ffffff;
    z-index: 9;
    left: 48.6%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


h3{
    text-align: center;
    padding-top: 42vh;
    font-size: 1.8em;
    animation: FadeIn 3s;
}
  
@keyframes FadeIn {
   0% { opacity: 0; }
   100% { opacity: 1; } 
}




/* STYLE VOOR TRIPPAGINA EN RESTAURANT PAGINA*/
.container{
    width:100%;

}

.container .row{
    width:80%;
    margin:auto;

}

.container .row .header{
    width:60%;
    text-align: center;
    margin: auto;
}

.container .row .header h1{
    padding-top: 30px;
    font-size: 65px;
}

.container .row .header p{
    margin-top: 15px;
    font-size: 25px;
    line-height: 1.5;

}

.content{
    display: flex;
    flex-wrap: wrap 3;
    justify-content: center;
    align-items: center;
    margin: auto;
       

}

.content .card{
    flex:1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}

.content .card img{
    width: 100%;
    height: auto;
}

.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.content .card p{
    font-size: 15px;
    line-height: 1.5;
    padding: 10px;

}

@media screen and (max-width: 768px){
    .content{
        flex-direction: column;
    }
}
