
/* ALGEMENE OPMAAK */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}
body {
    margin: 0;
}


.main-header {
    background-color: rgba(0, 0, 0, .20);
    background-image: url("Images/homepage_achtergrondfoto.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
}


h1 {
    font-size: 4em;
    text-align: center;
}

.uitleg {
    text-align: center;
    font-size: 1.5em;
}




/* NAVIGATIE BALK */
.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 1vw;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

.nav a:hover {
    text-decoration: underline;
    transform: scale(1.1);    
}

.nav {
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold ;
    
}



/* HOMEPAGE */
.header-home {
    background-color: rgba(0, 0, 0, .20);
    background-image: url("Images/homepage_achtergrondfoto.jpg"); 
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    color: #FFFFFF;   
}

.titel {
    text-align: center;
    font-size: 5.5vw;
    
}

@media (max-width:43.75em) {
    .titel {
        font-size: 3.2em;
    }
}

.intro {
    text-align: center;
    margin: 7.5vw;
    font-size: 1.5em;
}

@media(max-width:43.75em) {
    .intro {
        font-size: 1.3em;
    }
}


.arrow { 
    position: absolute;
    bottom: 1.25em;   
    display: block;
    width: 2.7em;
    height: 2.7em;
    border-bottom: 0.4375em solid #ffffff;
    border-right: 0.4375em solid #ffffff;
    left: 48.6%;
    transform: translate(-50%, 0%) rotate(45deg);
    animation: fade_move_down 4s ease-in-out infinite;
}

@keyframes fade_move_down {
  0%   { transform:translate(0,-0.625em) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,0.625em) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-0.625em) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,0.625em) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-0.625em) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,0.625em) rotate(45deg); opacity: 0; }
}



/* STYLE VOOR TRIPPAGINA EN RESTAURANT PAGINA */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

section article { 
    flex:1;
    margin: 3.125em 1.25em;
    box-shadow: 0.3em 2em 1em 0em rgba(0,0,0,0.1);
    background-color: #fff;
}

section article img {
    width: 100%;
    height: auto;
}

section article h4 {
    margin-top: 0.625em;
    margin-left: 0.625em;
    font-size: 1.125em;
}

section article p {
    font-size: 0.9375em;
    line-height: 1.5;
    padding: 0.625em;

}

@media screen and (max-width: 60em) {
    section {
        flex-direction: column;
    }
}



/* FOTOGALERIJ */
.fotogal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    padding: 0;
    margin: 0;
}



ul li img {
    width: 100%;
    padding: 0.375em;                                                                                                       
}


.fotogal li {
    display: block;
    width: 25%;
}

@media (max-width: 62.5em) {
    .fotogal li {
      width: 50%;                                                                                                 
    }
  }
  
  @media (max-width: 43.75em) {
    .fotogal li {
      width: 100%;  
    }
  }

  ul li img {
    transition: ease-in-out 0.25s;
  }

ul li img:hover {
    transform:  scale(1.5);
}

h2 {
    text-align: center;
    padding-top: 3em;
  }



/* INDIVIDUELE STADPAGINAS */
.verhaaltjes {
    display: flex;
    padding: 2em
}

.verhaaltjes img {
    height:fit-content;
    width: 50%;
    padding: 1em;
}

.verhaaltjes p { 
    font-size: 1em;
    
}

div {
    display: flex;
    justify-content: center;
}

.terug { 
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    transition: 250ms;
    width: 4em;
}


.terug:hover {
    color: grey;    
    transform: scale(1.1);
}

@media (max-width: 62.5em) {
    .verhaaltjes {
        flex-direction: column;
    }
}

@media (max-width: 62.5em) {
    .verhaaltjes img {
        width: 100%;
    }
}


